This notebook completes the PanTaGruEl model as found at [https://github.com/laurentpagnier/PanTaGruEl.jl](https://github.com/laurentpagnier/PanTaGruEl.jl)

# Import model

In [1]:
import os
import json

In [2]:
with open('../pantagruel.json') as f:
    model = json.load(f)

# Compute susceptance for all lines

In [3]:
for line in model['branch'].values():
    line['br_b'] = line['br_x'] / (line['br_x']**2 + line['br_r']**2)

# Fix missing bus locations

In [4]:
bus_location_fix = {
    "7321": "FR",
    "7578": "FR",
    "7015": "FR",
    "7586": "FR",
    "7788": "FR",
    "1482": "IT",
    "7822": "FR",
    "7380": "FR",
    "7336": "FR",
    "7333": "FR",
    "7327": "FR",
    "7175": "PT",
    "6988": "DK",
    "7334": "FR",
    "6873": "DK",
    "7821": "FR",
    "7575": "FR",
    "7750": "FR",
    "7337": "FR",
    "7715": "FR",
    "7339": "FR",
    "7741": "FR",
    "6949": "FR",
    "6943": "FR",
    "7322": "FR",
    "7326": "FR"
}

In [5]:
for (id, country) in bus_location_fix.items():
    model["bus"][id]["country"] = country

# Add a load at every bus

Some buses do not have an associated load in PanTaGruEl.

In [6]:
all_buses = set(model['bus'].keys())
len(all_buses)

4097

In [7]:
buses_with_loads = {str(load['load_bus']) for load in model['load'].values()}
len(buses_with_loads)

3998

Map between bus and load:

In [8]:
load_by_bus = {str(load['load_bus']): load['pd'] for load in model['load'].values()}

In [9]:
load_by_bus

{'7815': 1.61109049031271,
 '5024': 0.3560778425764904,
 '4656': 1.0243666380711383,
 '4682': 0.51052439893367,
 '6007': 0.5224167219286343,
 '1992': 0.1775631764991962,
 '5277': 1.4329939838238062,
 '510': 2.7132327279352006,
 '5378': 3.9198519261887346,
 '7490': 2.205587022514553,
 '5367': 2.5056697215386476,
 '4655': 0.6206592074214654,
 '5348': 1.3400787810004433,
 '6712': 0.17850202526268089,
 '7885': 0.5314420531563848,
 '7684': 0.7091687815482721,
 '2926': 1.3513316757127998,
 '5148': 1.8594123998551004,
 '6582': 0.6192410850609339,
 '4558': 1.6216528574326003,
 '2744': 1.0585780068822774,
 '2675': 0.5218383002131518,
 '4638': 0.4839104890041973,
 '1787': 2.170220895613956,
 '4600': 1.8604052755726337,
 '5426': 0.76785211761682,
 '5525': 0.5768884930788787,
 '6350': 0.3377911655664167,
 '7807': 0.2621964151440807,
 '2631': 0.8237653072999253,
 '2798': 1.5276903296218982,
 '3971': 0.5652833946851059,
 '148': 1.8807575084732269,
 '5524': 1.1886925817296892,
 '231': 0.7790980500637699,
 '7740': 0.7051746720549865,
 '6346': 0.30387208726383785,
 '4419': 7.199251948489594e-11,
 '1817': 0.0547787052363509,
 '112': 4.026743046349252,
 '1553': 0.193529876089951,
 '7562': 0.502819953509948,
 '1776': 0.06898598748206176,
 '1561': 0.9712164989710195,
 '2406': 0.023575730803013287,
 '2728': 1.3181997811725825,
 '4350': 3.4845495050486566,
 '5295': 0.6621450473198677,
 '1991': 1.0463374106235312e-10,
 '6710': 0.4726195420859589,
 '109': 4.1065562905407615,
 '2354': 0.9194050983267996,
 '2871': 0.5465853441637727,
 '7522': 1.582922952205825,
 '5116': 1.435095873786123,
 '1734': 0.4203855854650255,
 '7342': 0.7962366778112785,
 '4943': 0.4385454123708292,
 '5373': 7.205297578567208,
 '6914': 0.9545557359230348,
 '7851': 0.3032602120407656,
 '4903': 0.47492507486205815,
 '327': 0.3926650318289112,
 '4297': 0.12606461453619763,
 '5070': 1.042893108137583,
 '1623': 0.0963869189826628,
 '1495': 0.06565202357932502,
 '4749': 1.1692253773105625,
 '6977': 1.8453475775706238,
 '116': 1.8919604187601409,
 '4872': 0.19533038947275638,
 '192': 4.825267248788125,
 '4801': 1.168970021665269,
 '7386': 0.03722539381317704,
 '4292': 0.5001177813529634,
 '7025': 0.3430422558637499,
 '2687': 1.1874551222709355,
 '4367': 0.26882317939758066,
 '5222': 1.5996568569742353,
 '5397': 1.1553752337220482,
 '5058': 0.1771349427437301,
 '2495': 0.023575730635227207,
 '7470': 0.8300983689700346,
 '6230': 0.09912175239299752,
 '2890': 3.4311310634702425,
 '6239': 0.04936045741429382,
 '2838': 0.9255761312253408,
 '7541': 0.37853363868177425,
 '7553': 0.21154695963894635,
 '3340': 3.616882849822267,
 '4777': 0.3974101381387851,
 '5566': 0.7673214075122141,
 '5334': 0.30421298444554745,
 '4657': 2.1271716296814067,
 '7436': 0.05233350645412657,
 '4017': 2.030995220089163,
 '236': 0.7164965783068834,
 '2987': 1.0157509771260969,
 '2668': 0.49503674573631573,
 '5325': 1.8245758321023373,
 '301': 0.15587726910330255,
 '3235': 2.0023212989304926,
 '4437': 0.7019162537497369,
 '4533': 0.0863488763274795,
 '4715': 2.1150604334459384,
 '4495': 0.655275349151599,
 '5897': 0.022196586990280855,
 '550': 0.5348691877051809,
 '4956': 0.37011726423223046,
 '3294': 1.871814836107954,
 '7186': 0.4662588275289935,
 '3042': 2.1334089859605707,
 '2783': 1.5452324196514158,
 '5423': 0.4787342660781231,
 '4698': 1.3092958403368977,
 '2953': 1.7164099330366207,
 '6220': 0.08626917807377352,
 '4773': 0.06991381249713646,
 '7428': 0.05011277883216118,
 '4718': 2.0280030948452348,
 '2930': 2.1570680376801787,
 '4745': 0.7404825667137707,
 '4009': 1.464037114197821,
 '5518': 0.11411458854733408,
 '6289': 0.31625507366728345,
 '6552': 1.3193088903805745,
 '2382': 0.7947364493738501,
 '2905': 1.2227580770249473,
 '6237': 0.12864288440141297,
 '3686': 0.7609195554431785,
 '3691': 1.5179932141619026,
 '2460': 2.3883805296820163e-10,
 '5238': 1.1457673880853685,
 '6822': 0.09072131263160609,
 '7845': 0.6421076073466558,
 '6240': 0.1190079471154227,
 '170': 2.2312820389803414,
 '541': 0.16464201607704304,
 '7547': 0.34599910623860636,
 '2352': 0.8165597093114423,
 '4725': 0.8235008012706806,
 '4611': 1.7122870874456282,
 '7153': 0.14801805305179921,
 '4902': 0.5328663733470641,
 '6299': 0.2461305802224455,
 '4479': 1.5537315589205003,
 '4999': 0.6371620660158185,
 '3289': 1.3296951654143607,
 '7707': 0.4223749593025805,
 '4582': 0.3455364126802043,
 '5292': 0.940490142578892,
 '4616': 0.10115964754479054,
 '1659': 0.050534560932118104,
 '5094': 0.9693294364937753,
 '5126': 1.3367357444215344,
 '1810': 1.887758901170689,
 '1698': 0.058622905813146886,
 '4509': 1.0476802120943056,
 '2842': 0.642058380915062,
 '7860': 1.675880371302195,
 '5129': 1.2154659281963447,
 '5154': 0.48131017139850896,
 '279': 0.14357238759490026,
 '5586': 0.06171036290155127,
 '158': 1.4918032415492481,
 '2813': 1.0531636220017058,
 '6948': 0.23777410256825868,
 '2486': 2.5527085604696196,
 '4897': 3.992815936507307,
 '4318': 0.8061845362020867,
 '1535': 0.2941647405755079,
 '2657': 0.9578067408921684,
 '6940': 1.2537251792207715,
 '5331': 0.6128431526351512,
 '5357': 0.25124440541023324,
 '7160': 0.5241039753520031,
 '2801': 1.8213610434156424,
 '5236': 1.182589249081814,
 '3310': 3.95729303893431,
 '2474': 0.043925326012389763,
 '4622': 0.7815233375453307,
 '6297': 0.15685487583330504,
 '244': 0.8328970907480421,
 '2998': 0.44757952693572095,
 '5056': 0.7345655408684303,
 '4823': 2.55428461167612,
 '5200': 2.583822014424023,
 '7890': 0.43083383245206636,
 '2767': 1.0550723071196482,
 '6580': 0.33057742664955925,
 '206': 1.7149751380851381,
 '5546': 1.2726205718149015,
 '4361': 0.22074469766938393,
 '6002': 0.6121442256822869,
 '7649': 1.9165011318985117,
 '323': 0.2217629778972834,
 '6561': 0.23530171892085178,
 '7690': 0.25182324529672634,
 '5941': 0.29343666260385015,
 '7204': 0.24011115062360402,
 '6001': 0.5238667812267154,
 '1600': 0.6727944468653339,
 '235': 0.3669217027622899,
 '4530': 0.5831484339594372,
 '4681': 0.596304522234544,
 '1598': 1.5525718143294254,
 '7609': 0.19356050409649567,
 '7525': 0.24727758434399316,
 '5124': 0.30847121130851984,
 '124': 0.7801166552421169,
 '2530': 7.792374586350199e-10,
 '4488': 0.10774909887028283,
 '1589': 0.605029340108089,
 '4553': 0.8323603984306023,
 '2765': 1.227643662433427,
 '4549': 0.8543037032865602,
 '6224': 0.041649566276769565,
 '4483': 0.08831425079721114,
 '7032': 0.33973236072121293,
 '5592': 0.11586332763302598,
 '2449': 1.6337059152336837,
 '5092': 0.5479681611538308,
 '1728': 0.1801538852766056,
 '6725': 0.2731940819705663,
 '4504': 1.253118066775386,
 '3011': 2.0088631611582612,
 '3697': 0.6642834665307598,
 '6717': 0.6544513129432423,
 '2793': 1.996294396387391,
 '4952': 1.4710830569012439,
 '7117': 3.622801290134587,
 '5596': 0.8408470139470703,
 '7675': 0.9270401342520793,
 '6922': 1.5339567423715683,
 '2702': 0.7479985341910627,
 '6219': 0.08914610565118083,
 '5584': 0.04013001189461424,
 '3993': 0.30163200324183226,
 '4911': 0.3304399548107787,
 '5255': 1.658907467992241,
 '316': 0.41561338427844347,
 '4782': 0.3149069980437264,
 '4846': 2.2149514210698182,
 '4051': 0.35304182837951414,
 '4346': 4.421435888589873,
 '188': 0.9279954513540105,
 '3325': 1.5187960766507649,
 '7867': 0.1120504356878568,
 '5391': 4.177335024549039,
 '2912': 2.5721796131083097,
 '7400': 0.9507336146347233,
 '6816': 0.5298477173506351,
 '3931': 0.9737382445325636,
 '4723': 1.0294284977776256,
 '3005': 1.213089865584119,
 '1798': 2.1421707998857205,
 '103': 1.7682447350743928,
 '5878': 1.9124492714133496,
 '7820': 0.0516141984327003,
 '2738': 0.5082042118669566,
 '2941': 0.27337229993918316,
 '4673': 0.6935842782712737,
 '5119': 2.0921590838312567,
 '4448': 2.8428732087403352,
 '6583': 0.28553939733384537,
 '5099': 0.4540451818718608,
 '7692': 0.4674425747940765,
 '4520': 0.846005579771741,
 '4728': 0.1836750781784401,
 '1544': 0.2120978985097571,
 '6005': 1.405203285341914,
 '4834': 0.5244603229751965,
 '2409': 0.003542874345585698,
 '264': 0.11471994880745634,
 '5249': 1.6838014446205236,
 '4295': 0.9854863284744847,
 '4059': 0.1303752702081981,
 '4357': 5.647975934858217,
 '2458': 0.03313832387715272,
 '6290': 0.06659733941936216,
 '2371': 0.48593870294709857,
 '6730': 1.2628717593124872,
 '5540': 0.23534829616385852,
 '4072': 0.4299983135761818,
 '6166': 0.8671919303850657,
 '5189': 0.18638803274098026,
 '7202': 0.750534454311004,
 '6320': 0.10224480131168638,
 '6025': 3.7323352446953306,
 '3277': 0.8242532273843147,
 '2789': 1.0834979149031492,
 '7623': 1.8405271940670471,
 '5247': 1.7480008345868085,
 '2361': 0.6117959628932196,
 '7103': 4.035548906421646,
 '6315': 0.24915968865870666,
 '3326': 0.7297925952459545,
 '7101': 0.19666337267808212,
 '1813': 0.07366599535684419,
 '152': 3.9511919521955554,
 '6018': 0.6908940392508727,
 '4492': 0.696432894163182,
 '1755': 0.21790239382248752,
 '6273': 0.10152847671255066,
 '6312': 0.19407233997476442,
 '5375': 8.333573252755102,
 '2779': 1.4576339422325413,
 '104': 2.6672019091946333,
 '3712': 0.6290467718227101,
 '5155': 3.732726944229622,
 '7201': 0.4543184524210486,
 '7003': 0.0390010556130492,
 '4360': 1.9073834155116807,
 '3264': 0.7919184931791401,
 '7753': 0.1199357917708615,
 '5344': 1.1161416599741347,
 '3305': 1.9138612275211213,
 '3346': 0.5287020237945742,
 '2833': 1.6618051807242755,
 '6980': 1.8764487422248508,
 '3940': 1.059709111433139,
 '5044': 1.383261090804717,
 '5421': 0.24069040108668488,
 '7016': 1.7955247159320344,
 '5623': 0.06597051224119808,
 '2705': 2.126528619776673,
 '4078': 0.2854505157043707,
 '4592': 0.7306374858228106,
 '4883': 0.3137670441165791,
 '1682': 0.72444911064586,
 '2439': 2.933935463031072e-10,
 '5356': 1.2034187795337217,
 '7453': 4.6371330337050407e-10,
 '5527': 0.7754101391081477,
 '7683': 0.35384095505301727,
 '2410': 0.7195427028478685,
 '5183': 1.2539600371384794,
 '4930': 0.8663014273365307,
 '5261': 2.6818287981608653,
 '5860': 0.545694823608918,
 '7193': 0.31743750520737274,
 '1704': 0.05500071432663277,
 '6941': 0.8061245856900843,
 '6047': 0.034036600036849704,
 '4441': 0.185137170435664,
 '6734': 0.26857845777965794,
 '2366': 0.5840013073622354,
 '4738': 1.1911113824521662,
 '1750': 1.2858764253525252,
 '5856': 1.2790030957951883,
 '7059': 0.3608920441942319,
 '5163': 2.829886377600039,
 '5351': 1.197065956097007,
 '201': 1.123399549883927,
 '3303': 0.7528855242251425,
 '7375': 0.6879088432642925,
 '7680': 0.7800279493462362,
 '7328': 0.6788274710879272,
 '2628': 1.1163905111866497,
 '3266': 1.7663902503495121,
 '5104': 0.6098656202435858,
 '4482': 1.0466703955680017,
 '2642': 0.4054465523810468,
 '6255': 0.3383457818833858,
 '7620': 0.6656247480477135,
 '2757': 0.48243660630280305,
 '1740': 0.22849375390762755,
 '4325': 0.8995047385165096,
 '6355': 0.6786675653818981,
 '7411': 0.13286046698045867,
 '6733': 0.8618408749231484,
 '7736': 1.1293711667796975,
 '4856': 3.241176994760167,
 '5394': 1.0895841934182302,
 '5488': 0.0269828758816785,
 '6217': 0.31965045128293335,
 '2967': 0.4794686403424723,
 '2910': 1.282514104684016,
 '6143': 0.8212667702879769,
 '2760': 0.6293124344384481,
 '7096': 0.04290515126237828,
 '5969': 1.3244342995218386,
 '4519': 4.209457414636368,
 '2853': 0.6881152941760484,
 '2885': 0.5487770413212238,
 '5977': 3.889421663852434,
 '7090': 0.30274789249193595,
 '5000': 0.5156422841677369,
 '5388': 4.087052611046552,
 '7249': 1.1384717390177055,
 '7792': 0.09460027007799855,
 '5627': 0.10870735285920709,
 '6065': 1.199456758379065,
 '7875': 1.7027209269375938,
 '1805': 2.031671238218541,
 '5492': 0.1169319260102443,
 '6964': 0.857868723908954,
 '4783': 0.3129536583182063,
 '3237': 1.0187920200478486,
 '7324': 0.4814920725018592,
 '266': 0.2772985071748662,
 '4675': 0.6950636619780903,
 '128': 0.9780406876241367,
 '5176': 0.10246784503428107,
 '4554': 0.8303096009668522,
 '3003': 1.9249373798802076,
 '3941': 1.6493395022843578,
 '7635': 7.042732008077402e-10,
 '4733': 0.09939044544708567,
 '6833': 0.06318347818812169,
 '4811': 0.5012599100008831,
 '7043': 0.07851256480513648,
 '1560': 0.09149326123209768,
 '7534': 0.8578313972785913,
 '5317': 1.1134307218442137,
 '5369': 5.749098120234709,
 '7587': 0.06083498177524926,
 '3252': 0.930345579281269,
 '3352': 0.38876721373775824,
 '7569': 0.05858783015915286,
 '5117': 0.20255520708131602,
 '7596': 1.2476905950701331,
 '7359': 0.3925128763448597,
 '6709': 0.09470659268740211,
 '6300': 0.49226116028080386,
 '2652': 0.3755521018408302,
 '529': 2.690574300945093,
 '6848': 0.6569061451193443,
 '4674': 1.3098176151231065,
 '4741': 1.1889241876774068,
 '5591': 0.0754403186073445,
 '146': 2.274917911861949,
 '7027': 0.32062623805265184,
 '4807': 0.7401883700086996,
 '4080': 0.4774110817392964,
 '4968': 0.4484889711860393,
 '2775': 1.419277781369052,
 '5502': 2.0543922088498383,
 '7599': 0.07297550028829422,
 '4945': 1.4337903647943735,
 '5234': 1.7619342017699153,
 '4758': 0.6179543091495606,
 '7504': 0.9630756804955791,
 '3890': 0.001380080945322984,
 '2531': 5.550658831553276e-10,
 '4925': 0.44420598281148743,
 '1491': 0.14274906519909783,
 '7485': 0.09756830246513717,
 '4286': 0.6964719128176695,
 '2896': 5.23119499664775,
 '6231': 0.04135097344084787,
 '4287': 0.8390594363003016,
 '4502': 1.2427813327888946,
 '2670': 1.393828422637661,
 '5035': 0.7075095500420643,
 '5588': 0.18460267016655252,
 '2724': 2.2565976147475517,
 '4726': 1.6470016019923603,
 '4531': 0.33609421926335065,
 '4058': 0.28488177142466314,
 '1502': 0.14505810293347088,
 '1737': 0.382758316965448,
 '5063': 1.118184498563137,
 '6797': 0.08538398019679506,
 '4626': 0.7622171432623035,
 '5805': 8.58163383988277e-10,
 '5417': 1.6985188688736883,
 '5288': 0.8630565281982479,
 '6741': 0.2791542583045943,
 '5217': 0.1950704706341763,
 '6272': 0.17931428437222363,
 '5599': 0.75697346245542,
 '2542': 5.014055649479514e-10,
 '2622': 2.0082124985170946,
 '6573': 0.5355791422640437,
 '6135': 1.079057434868706,
 '4636': 0.5003527081941942,
 '1604': 0.5459017571238178,
 '5960': 0.5057381900232675,
 '3961': 0.19634204640584954,
 '6222': 0.07194706611476788,
 '4063': 0.2546244876568741,
 '129': 2.370763507117437,
 '5253': 2.1430186125800983,
 '4798': 0.41186001174516207,
 '2850': 0.8576551924186517,
 '1617': 0.20117749029882184,
 '2889': 1.7155655323069758,
 '7097': 0.6722432955236779,
 '4407': 0.9200538694183367,
 '4699': 1.1911180318711687,
 '4048': 0.19391518972254645,
 '2976': 1.9075794054971196,
 '7378': 1.9887755186071405,
 '291': 0.27618629673643613,
 '2381': 2.0718815053684194,
 '5293': 0.8483925527854251,
 '6068': 0.9394786707645849,
 '7310': 0.6949531915284617,
 '2503': 0.7448413386587659,
 '7847': 1.2347453244367492,
 '7439': 0.47996001316896786,
 '7848': 2.2162906293810485,
 '208': 0.5293421926216749,
 '4684': 0.9696821398043302,
 '4335': 0.6933423592010796,
 '2388': 2.1557405976824247,
 '2737': 0.974979596998362,
 '193': 0.9630984943161421,
 '1545': 0.8123630826792426,
 '5132': 4.891940828413456e-10,
 '6340': 0.47290861578611165,
 '2924': 0.7667609162764046,
 '1523': 0.019390411544054634,
 '6133': 1.0826528618035645,
 '4759': 2.232046673074703,
 '5206': 1.7225986411927041,
 '6284': 0.38045866226774555,
 '5026': 0.30275888219793806,
 '4498': 1.2037072336486125,
 '7482': 0.657841461620693,
 '4680': 1.141820282791752,
 '5276': 1.2547300721693495,
 '7685': 0.5288758101132973,
 '4695': 2.3305448398785247,
 '4573': 0.7391681841305707,
 '2625': 0.7298743125316463,
 '5510': 0.4080776449673705,
 '149': 2.46161593103775,
 '2992': 0.4680066435535056,
 '3284': 0.7883069003669861,
 '2946': 1.1276177479119711,
 '6080': 8.859415315062698,
 '4521': 0.5061304533983928,
 '6736': 0.30577899514829054,
 '4290': 0.949068894061232,
 '6258': 0.17088404522731118,
 '5618': 1.0525711875441421,
 '6325': 0.1477662073902842,
 '6738': 1.7454969945889098,
 '3288': 0.4606605360844288,
 '7049': 0.1210684978633534,
 '1729': 0.27200289442718656,
 '7817': 1.2914070236837814,
 '6559': 0.2883609133528405,
 '6931': 0.6755715889419273,
 '5205': 0.7606614224812751,
 '4868': 0.19614470854125254,
 '6309': 0.19357346940996614,
 '5563': 0.25981257968751803,
 '7022': 0.3166287013051436,
 '5611': 0.033456086657484264,
 '5620': 0.10558350208567897,
 '6826': 0.06997722480111349,
 '311': 0.19305002052172088,
 '5381': 1.3534860434872455,
 '7454': 0.05148030428271094,
 '3936': 0.44696417714690284,
 '1645': 0.14952890625500642,
 '3247': 0.6556569113025867,
 '5110': 0.2311393095512894,
 '7477': 1.0529498136749826,
 '2697': 1.9091211345624846,
 '5553': 0.8305232584009146,
 '7805': 0.4959971097676683,
 '3307': 1.972908568467324,
 '246': 0.8799331818766425,
 '7844': 0.2569949380327198,
 '2761': 1.2586248684573547,
 '2639': 0.28216282102520895,
 '918': 1.992667325645379,
 '5162': 0.566761601627687,
 '534': 0.34735435481858423,
 '5364': 4.429969978298341,
 '2423': 3.9980812278999794e-10,
 '1587': 0.40231140199764714,
 '7500': 1.305771464668511,
 '7597': 3.9243794343061666,
 '2712': 1.2565233085866216,
 '3998': 0.8599536044902143,
 '5309': 0.2363253110286289,
 '258': 0.048346211709872515,
 '7861': 1.7958700376277292,
 '3268': 1.2065962689529544,
 '5151': 0.8254565720354436,
 '7080': 3.073289931236068,
 '7718': 0.06369314503935138,
 '5568': 0.10808024119831884,
 '7054': 0.11503116087219695,
 '4497': 0.8619900349809444,
 '4525': 1.238266838869873,
 '1727': 0.40989665795960845,
 '5913': 1.5054053292022938,
 '5011': 0.6853484492265521,
 '5904': 1.1256824910848713,
 '6347': 0.12710748827873547,
 '2452': 8.585965339674005e-10,
 '5617': 0.8409920944583709,
 '4490': 0.7821923829603046,
 '4450': 0.4929781072177555,
 '4388': 1.1581850737469823,
 '6578': 0.8785573304353549,
 '7524': 2.2702323526762376,
 '5088': 5.038651275176637,
 '1720': 0.13905473615903807,
 '5243': 0.781563080910299,
 '4709': 0.6047850470202496,
 '5014': 0.7085756996655664,
 '5068': 0.4866196444535259,
 '3335': 0.6031992245301958,
 '7744': 0.36819720670365214,
 '5254': 1.880833688232626,
 '5193': 0.7988107580490642,
 '2770': 0.5014259534070992,
 '7639': 0.8749482614107358,
 '1078': 0.16280848745939436,
 '5431': 2.9800629187145775,
 '6252': 0.6742260163809081,
 '6872': 0.7400780590952796,
 '6362': 0.2800820835212834,
 '189': 0.8682127440168129,
 '4381': 4.110292900253426,
 '5968': 1.5375927874803,
 '4716': 2.0746008161276936,
 '2981': 4.143050165000513,
 '2968': 0.23560960582568313,
 '3267': 4.651871603701215,
 '6078': 1.3738398575052284,
 '3318': 0.9791230088537047,
 '6160': 0.8506410939076369,
 '6830': 0.09747373451466362,
 '7155': 0.01770502533596554,
 '7839': 0.3232285379673571,
 '4643': 1.071991920015767,
 '2964': 1.3997501899547198,
 '3236': 0.7662121406012737,
 '2418': 0.006852477792949416,
 '4819': 0.2547595046909046,
 '4918': 0.7459132477578696,
 '3006': 0.4565025157216708,
 '7024': 0.3243964790432544,
 '1724': 0.14781554166803784,
 '4870': 0.2568658019966022,
 '796': 0.984159187346816,
 '4842': 0.5158565660985824,
 '1754': 0.12705900566167988,
 '2666': 0.5760914176347093,
 '7855': 6.045063302842933e-10,
 '7494': 0.5242833918769431,
 '313': 0.5295083040211621,
 '2459': 2.5073919650189104e-10,
 '7507': 0.7715135533272348,
 '4312': 0.9931153825390091,
 '230': 0.3451621914532986,
 '105': 0.5240039676629611,
 '5509': 0.2821902516719401,
 '4332': 0.3900788719697448,
 '2514': 0.8733464780968626,
 '7258': 2.0907205387909418,
 '5365': 9.255727041732165,
 '2444': 0.019446771541938756,
 '1541': 0.28253751844426367,
 '5464': 2.1629351251050184,
 '3007': 1.0020518545936994,
 '5197': 0.7744894797818805,
 '3245': 1.055631976191565,
 '7840': 0.8564664000636342,
 '5865': 0.21376456132610128,
 '5140': 0.6164875509424743,
 '3353': 0.7775344272163387,
 '5911': 2.0199528603350405,
 '7669': 0.6580195743855903,
 '4022': 0.27250316496461974,
 '195': 2.9012833939836353,
 '4343': 6.561830498892216,
 '4785': 0.3944710319023981,
 '5601': 0.8284389512435361,
 '1745': 0.2543764763513945,
 '2787': 1.0903687631252716,
 '6837': 0.31078777637817834,
 '1803': 2.0812281449696557,
 '2911': 1.2712658053284023,
 '5574': 0.05308943097198549,
 '6819': 0.36801581866925615,
 '2829': 2.8501037111753997,
 '7316': 0.752306485089139,
 '7854': 8.848574642826102e-10,

Re-assign loads with IDs matching the buses, using the given value for existing loads, and otherwise zero.

In [10]:
model['load'] = {id: {
                    'index'   : int(id),
                    'load_bus': int(id),
                    'status'  : 1,
                    'pd'      : load_by_bus[id] if id in load_by_bus else 0.0,
                    'qd'      : 0
                } for id in all_buses}

# Add ENTSO-E generator names

Add temporary unique generator name for all gens of the model, as well as the generators country:

In [11]:
for gen_id, gen in model['gen'].items():
    bus_id = str(gen['gen_bus'])
    gen['name'] = model['bus'][bus_id]['name'] + ' ' + gen_id
    gen['country'] = model['bus'][bus_id]['country']

In [12]:
all_gen_names = {gen['name'] for gen in model['gen'].values()}

Import list of generators from ENTSO-E at a given reference time (January 2016)

In [13]:
import pandas as pd

In [14]:
entsoe_data_dir = os.path.expanduser('~/data/entso-e/raw')

In [15]:
entsoe_data = pd.DataFrame(pd.read_csv('%s/2016_01_ActualGenerationOutputPerGenerationUnit_16.1.A.csv' % entsoe_data_dir, sep='\t') \
    .groupby(['PowerSystemResourceName', 'MapCode', 'ProductionType', 'InstalledGenCapacity'])['ActualGenerationOutput'].mean()) \
    .reset_index()
entsoe_data

,PowerSystemResourceName,MapCode,ProductionType,InstalledGenCapacity,ActualGenerationOutput
0,ABOÑO 1,ES,Fossil Hard coal,341.7,155.520027
1,ABOÑO 2,ES,Fossil Hard coal,535.8,411.376075
2,ABTH7,GB,Fossil Hard coal,535.0,501.421135
3,ABTH8,GB,Fossil Hard coal,535.0,483.604071
4,ABTH9,GB,Fossil Hard coal,535.0,395.362667
...,...,...,...,...,...
1679,Zydowo H3,PL,Hydro Pumped Storage,54.0,2.414234
1680,iPower Solutions ltd,NIE,Fossil Oil,74.0,0.034341
1681,Åbyverket Örebro,SE,Biomass,106.0,29.132615
1682,Öresundsverket CHP G1,SE,Fossil Gas,294.0,210.140970
1683,Öresundsverket CHP G2,SE,Fossil Gas,154.0,94.636523

Determine country from MapCode column:

In [16]:
entsoe_country_map = {mapcode: mapcode for mapcode in entsoe_data['MapCode']}
for mapcode in entsoe_country_map.keys():
    if mapcode[0:2] == 'DE':
        entsoe_country_map[mapcode] = 'DE'
entsoe_data.insert(2, 'Country', list(map(lambda mapcode: entsoe_country_map[mapcode], entsoe_data['MapCode'])))

Filter generators that are in one of the model's country (ENTSO-E data also containes UK, Ireland, Sweden...)

In [17]:
model_countries = {gen['country'] for gen in model['gen'].values()}
model_countries

{'AL',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CZ',
 'DE',
 'DK',
 'ES',
 'FR',
 'GR',
 'HR',
 'HU',
 'IT',
 'LU',
 'ME',
 'MK',
 'NL',
 'PL',
 'PT',
 'RO',
 'RS',
 'SI',
 'SK',
 'XX'}

In [18]:
entsoe_data = entsoe_data[entsoe_data['Country'].isin(model_countries)]

### Switzerland

Manually examine ENTSO-E generators list:

In [19]:
CH_name_map = {
    'Beznau 943': ['Beznau 1', 'Beznau 2'],
    'Mühleberg 917': ['KKM Produktion'],
    'Leibstadt 908': ['Leibstadt'],
    'Gösgen 921': ['Kernkraftwerk Gösgen'],
    'Biasca 938': ['Centrale di Biasca'],
    'Veytaux 913': ['Usine de Veytaux'],
    'Bâtiaz 912': ['Usine de la Bâtiaz'],
    'Chamoson 914': ['Usine de Bieudron', 'Usine de Nendaz'],
    'Fionnay GD 911': ['Usine de Fionnay'],
    'Verbano 922': ['Centrale di Verbano'],
    'Robiei 936': ['Centrale di Robiei'],
    'Bitsch 916': ['Kraftwerk Bitsch'],
    'Bavona 935': ['Centrale di Bavona'],
    'Cavergno 923': ['Centrale di Cavergno'],
    'Mapragg 939': ['Mapragg - Gigerwald G1'],
    'Grimsel 909': ['KWO Produktion'],
    'Innertkirchen 918': ['KWO Produktion'],
    'Riddes 173': ['Stufe FMM Produktion Total'],
    'Fionnay FMM 910': ['Stufe FMM Produktion Total'],
    'Limmern 958': ['Limmern - Muttsee G1'],
    'Tierfehd 926': ['Tierfehd - Limmern GPSW'],
    'Olivone 925': ['AET Leventina']
}

In [20]:
CH_name_values = {name for list_of_names in CH_name_map.values() for name in list_of_names}

Check that the keys are part of the model's names:

In [21]:
assert set(CH_name_map.keys()).issubset(all_gen_names)

Check that the names belong to the ENTSO-E names:

In [22]:
assert CH_name_values.issubset(entsoe_data['PowerSystemResourceName'])

Model's generators not in the list:

In [23]:
pd.DataFrame([[gen['name'], gen['type'], 100 * gen['pmax']] for gen in model['gen'].values()
             if gen['country'] == 'CH' and gen['name'] not in CH_name_map.keys()],
             columns=['Name', 'Type', 'Pmax']).sort_values('Name')

                 Name                Type   Pmax
11      Bärenburg 930  hydro_pure_storage  220.0
0      Castasegna 928  hydro_pure_storage  100.0
3         Ferrera 929         hydro_mixed  180.0
9      Foretaille 766           hydro_ror   98.0
5       Göschenen 919  hydro_pure_storage  160.0
6         Handeck 937         hydro_mixed  113.0
2      Laufenburg 920           hydro_ror  106.0
12         Löbbia 933  hydro_pure_storage   95.0
1        Pradella 934  hydro_pure_storage  288.0
4   Rothenbrunnen 932  hydro_pure_storage  127.0
8          Sedrun 924  hydro_pure_storage  147.0
10           Sils 931  hydro_pure_storage  247.0
7         Stalden 915  hydro_pure_storage  180.0
13       Tavanasa 927  hydro_pure_storage  176.0

ENTSO-E generators not in the list:

In [24]:
entsoe_data[(entsoe_data['Country'] == 'CH') & (~entsoe_data['PowerSystemResourceName'].isin(CH_name_values))] \
    [['PowerSystemResourceName', 'ProductionType', 'InstalledGenCapacity']]

,PowerSystemResourceName,ProductionType,InstalledGenCapacity
776,KW Rheinfelden CH,Hydro Run-of-river and poundage,100.0
1580,Usine de Vallorcine,Hydro Water Reservoir,230.0

### France

In [25]:
FR_name_map = {
    'Belleville 757': ['BELLEVILLE 1', 'BELLEVILLE 2'],
    'Boctois 715': ['NOGENT 1', 'NOGENT 2'],
    'Cattenom 732': ['CATTENOM 1', 'CATTENOM 2', 'CATTENOM 3', 'CATTENOM 4'],
    'Chinon B 751': ['CHINON 1', 'CHINON 2', 'CHINON 3', 'CHINON 4'],
    'Chooz 518': ['CHOOZ 1', 'CHOOZ 2'],
    'Civaux 602': ['CIVAUX 1', 'CIVAUX 2'],
    'Coulange 657': ['CRUAS 1', 'CRUAS 2', 'CRUAS 3', 'CRUAS 4'],
    'Creys 690': ['BUGEY 2', 'BUGEY 3', 'BUGEY 4', 'BUGEY 5'],
    'Dampierre 708': ['DAMPIERRE 1', 'DAMPIERRE 2', 'DAMPIERRE 3', 'DAMPIERRE 4'],
    'Fessenheim 318': ['FESSENHEIM 1', 'FESSENHEIM 2'],
    'Flamanville 982': ['FLAMANVILLE 1', 'FLAMANVILLE 2'],
    'Golfech 552': ['GOLFECH 1', 'GOLFECH 2'],
    'Gravelines 723': ['GRAVELINES 1', 'GRAVELINES 2', 'GRAVELINES 3', 'GRAVELINES 4', 'GRAVELINES 5', 'GRAVELINES 6'],
    'Le Blayais 583': ['BLAYAIS 1', 'BLAYAIS 2', 'BLAYAIS 3', 'BLAYAIS 4'],
    'Paluel 718': ['PALUEL 1', 'PALUEL 2', 'PALUEL 3', 'PALUEL 4'],
    'Penly Poste 717': ['PENLY 1', 'PENLY 2'],
    'P.Cordier 670': ['ST ALBAN 1', 'ST ALBAN 2'],
    'St. Laurent 554': ['ST LAURENT 1', 'ST LAURENT 2'],
    'Tricastin 658': ['TRICASTIN 1', 'TRICASTIN 2', 'TRICASTIN 3', 'TRICASTIN 4'],
    'Cordemais Poste 986': ['CORDEMAIS 2', 'CORDEMAIS 3', 'CORDEMAIS 4', 'CORDEMAIS 5'],
    'Porcheville 711': ['PORCHEVILLE 1', 'PORCHEVILLE 2', 'PORCHEVILLE 3', 'PORCHEVILLE 4'],
    'Aramon 556': ['ARAMON 1', 'ARAMON 2'],
    'Villarodin 695': ['VILLARODIN 1', 'VILLARODIN 2'],
    'Le Pouget 553': ['POUGET 4'],
    'Brommat 758': ['BROMMAT 7'],
    'Le Cheylas 685': ['CHEYLAS 1', 'CHEYLAS 2'],
    'S. Bissorte 765': ['SUPER BISSORTE 1', 'SUPER BISSORTE 2', 'SUPER BISSORTE 3', 'SUPER BISSORTE 4', 'SUPER BISSORTE 5'],
    'Montezic poste et centrale 759': ['MONTEZIC 1', 'MONTEZIC 2', 'MONTEZIC 3', 'MONTEZIC 4'],
    'Revin 726': ['REVIN 1', 'REVIN 2', 'REVIN 3', 'REVIN 4'],
    'Guersac 987': ['SPEM CCG'],
    'Quartes 725': ['Pont-sur-Sambre'],
    'Braek 555': ['DK6-TG1', 'DK6-TG2', 'DK6-TV1', 'DK6-TV2'],
    'Ratier 754': ['AMFARD14', 'AMFARD15'],
    'Darse 610': ['COMBIGOLFE CCG', 'CYCOFOS PL1', 'CYCOFOS PL2'],
    'Ponteau 955': ['MARTIGUES PONTEAU 5', 'MARTIGUES PONTEAU 6'],
    'Custines 749': ['Croix-de-Metz'],
    'St. Avold 731': ['EMILE HUCHET 6', 'EMILE HUCHET 7', 'EMILE HUCHET 8'],
    'Bezaumont 729': ['BLENOD 5'],
    'Le Havre 603': ['HAVRE 4'],
    'La Palun 672': ['PROVENCE 5'],
    'Arrighi 709': ['ARRIGHI 1', 'ARRIGHI 2'],
    'Brennilis 985': ['BRENNILIS 1', 'BRENNILIS 2', 'BRENNILIS 3'],
    'Loscoat 983': ['DIRINON 1', 'DIRINON 2'],
    'Le Chesnoy 714': ['MONTEREAU 5', 'MONTEREAU 6'],
    'Villevaude 716': ['VAIRES 1', 'VAIRES 2', 'VAIRES 3'],
    'Sisteron 677': ['SISTERON 1', 'SISTERON 2'],
    'Le Chastang 612': ['CHASTANG 2', 'CHASTANG 3']
}

In [26]:
FR_name_values = {name for list_of_names in FR_name_map.values() for name in list_of_names}

Check that the keys are part of the model's names:

In [27]:
assert set(FR_name_map.keys()).issubset(all_gen_names)

Check that the names belong to the ENTSO-E names:

In [28]:
assert FR_name_values.issubset(entsoe_data['PowerSystemResourceName'])

Model's generators not in the list:

In [29]:
pd.DataFrame([[gen['name'], gen['type'], 100 * gen['pmax']] for gen in model['gen'].values()
             if gen['country'] == 'FR' and gen['name'] not in FR_name_map.keys()],
             columns=['Name', 'Type', 'Pmax']).sort_values('Name')

              Name       Type      Pmax
73    Airvault 597    Biomass    2.1260
72      Amiens 720    Biomass    2.8300
122     Amiens 721    Biomass    1.9030
158     Arnage 601    Biomass   14.3750
153      Aston 557  hydro_ror  104.0000
..             ...        ...       ...
59      Vignol 668      Hydro    6.2600
95      Vincey 727      Hydro    1.5009
56   Vogelgrun 737  hydro_ror  141.0000
134     Volvon 762      Hydro    2.7200
47    Vouglans 703  hydro_ror  285.0000

[207 rows x 3 columns]

ENTSO-E generators not in the list:

In [30]:
entsoe_data[(entsoe_data['Country'] == 'FR') & (~entsoe_data['PowerSystemResourceName'].isin(FR_name_values))] \
    [['PowerSystemResourceName', 'ProductionType', 'InstalledGenCapacity']]

,PowerSystemResourceName,ProductionType,InstalledGenCapacity
15,AIGLE 6,Hydro Water Reservoir,146.0
118,BORT 1,Hydro Water Reservoir,118.0
119,BORT 2,Hydro Water Reservoir,114.0
245,COMBE D'AVRIEUX 1,Hydro Water Reservoir,123.0
548,FR-GA-MORANT1,Fossil Gas,401.0
569,GENNEVILLIERS 1,Fossil Gas,203.0
585,GRAND MAISON 1,Hydro Pumped Storage,152.0
586,GRAND MAISON 10,Hydro Pumped Storage,157.0
587,GRAND MAISON 11,Hydro Pumped Storage,157.0
588,GRAND MAISON 12,Hydro Pumped Storage,157.0
589,GRAND MAISON 2,Hydro Pumped Storage,152.0
590,GRAND MAISON 3,Hydro Pumped Storage,152.0
591,GRAND MAISON 4,Hydro Pumped Storage,152.0
592,GRAND MAISON 5,Hydro Pumped Storage,152.0
593,GRAND MAISON 6,Hydro Pumped Storage,152.0
594,GRAND MAISON 7,Hydro Pumped Storage,152.0
595,GRAND MAISON 8,Hydro Pumped Storage,152.0
596,GRAND MAISON 9,Hydro Pumped Storage,157.0
1193,SAINT-PIERRE,Hydro Run-of-river and poundage,122.0

### Spain

In [31]:
ES_name_map = {
    'Asco 79': ['ASCO 1', 'ASCO 2'],
    'C.N. Almaraz 160': ['ALMARAZ 1', 'ALMARAZ 2'],
    'Sagunto 87': ['COFRENTES'],
    'La Robla 1005': ['ROBLA 1', 'ROBLA 2'],
    'Soto de Ribera 1013': ['SOTO RIB 2', 'SOTO RIB 3'],
    'P.G. Rodriguez 998': ['P.G.RODR 1', 'P.G.RODR 2', 'P.G.RODR 3', 'P.G.RODR 4'],
    'Teruel 77': ['TERUEL 1', 'TERUEL 2', 'TERUEL 3'],
    'Lada 1009': ['LADA IV'],
    'Compostilla I 1004': ['ANLLARES 1', 'COMPOSTI 4', 'COMPOSTI 5'],
    'Belesar 997': ['BELESAR 1', 'BELESAR 2', 'BELESAR 3'],
    'G. y Galan 152': ['GGALAN GEN'],
}

In [32]:
ES_name_values = {name for list_of_names in ES_name_map.values() for name in list_of_names}

Check that the keys are part of the model's names:

In [33]:
assert set(ES_name_map.keys()).issubset(all_gen_names)

Check that the names belong to the ENTSO-E names:

In [34]:
assert ES_name_values.issubset(entsoe_data['PowerSystemResourceName'])

Model's generators not in the list:

In [35]:
pd.DataFrame([[gen['name'], gen['type'], 100 * gen['pmax']] for gen in model['gen'].values()
             if gen['country'] == 'ES' and gen['name'] not in ES_name_map.keys()],
             columns=['Name', 'Type', 'Pmax']).sort_values('Name')

                  Name       Type    Pmax
56         Aguayo 1010      Hydro  360.60
41  Aldeadávila II 166  hydro_ror  820.00
60        Alvarado 158   other_nl  150.00
66         Andújar 143      Waste   15.00
71         Aravaca 161      Hydro   61.95
..                 ...        ...     ...
48        Vandellos 80        Gas   39.58
82        Vilecha 1006      Hydro   34.68
17     Villalcampo 156  hydro_ror  881.00
9       Villamayor 154   other_nl  120.00
53       Villarino 155  hydro_ror  881.00

[85 rows x 3 columns]

ENTSO-E generators not in the list:

In [36]:
entsoe_data[(entsoe_data['Country'] == 'ES') & (~entsoe_data['PowerSystemResourceName'].isin(ES_name_values))] \
    [['PowerSystemResourceName', 'ProductionType', 'InstalledGenCapacity']]

     PowerSystemResourceName         ProductionType  InstalledGenCapacity
0                    ABOÑO 1       Fossil Hard coal                 341.7
1                    ABOÑO 2       Fossil Hard coal                 535.8
5                    ACECA 3             Fossil Gas                 386.0
6                     ACECA4             Fossil Gas                 372.6
16                ALDEA I G1  Hydro Water Reservoir                 132.9
...                      ...                    ...                   ...
1601              VLLRINO 4G  Hydro Water Reservoir                 138.7
1602              VLLRINO 5B   Hydro Pumped Storage                 138.0
1603              VLLRINO 5G  Hydro Water Reservoir                 148.9
1604              VLLRINO 6B   Hydro Pumped Storage                 138.0
1605              VLLRINO 6G  Hydro Water Reservoir                 148.6

[163 rows x 3 columns]

### Germany

In [37]:
DE_name_map = {
    'Brokdorf 210': ['Brokdorf'],
    'Gundremmingen 256': ['Gundremmingen B'],
    'Gundremmingen 257': ['Gundremmingen C'],
    'Isar 265': ['Isar 2'],
    'Philippsburg 232': ['KKW Philippsburg 2'],
    'Grohnde 209': ['Grohnde'],
    'Emsland 249': ['Emsland A'],
    'GKN 2 950': ['KKW Neckarwestheim 2'],
    'Boxberg 314': ['KW Boxberg Block N', 'KW Boxberg Block P', 'KW Boxberg Block Q', 'KW Boxberg Block R'],
    'Jänschwalde 312': ['KW Jänschwalde Block A', 'KW Jänschwalde Block B', 'KW Jänschwalde Block C',
                        'KW Jänschwalde Block D', 'KW Jänschwalde Block E', 'KW Jänschwalde Block F'],
    'Lippendorf 214': ['KW Lippendorf Block R', 'KW Lippendorf Block S'],
    'Neurath 238': ['Neurath A', 'Neurath B', 'Neurath C', 'Neurath D', 'Neurath E', 'Neurath F', 'Neurath G'],
    'Niederaußem 237': ['Niederaußem C', 'Niederaußem D', 'Niederaußem E', 'Niederaußem F',
                        'Niederaußem G', 'Niederaußem H', 'Niederaußem K (BoA 1)',
                        'Frimmersdorf P', 'Frimmersdorf Q',
                        'Weisweiler E', 'Weisweiler F', 'Weisweiler G', 'Weisweiler H'],
    'Schkopau 215': ['Schkopau A', 'Schkopau B'],
    'Buschhaus 213': ['Buschhaus'],
    'Schwarze Pumpe 313': ['KW Schwarze Pumpe Block A', 'KW Schwarze Pumpe Block B'],
    'Heilbronn 254': ['HKW Heilbronn Block 7'],
    'Rostock 304': ['Kraftwerk Rostock'], # incomplete,
    'Moorburg 319': ['HKW Moorburg Block A', 'HKW Moorburg Block B'],
    'Wilhelmshaven 204': ['Wilhelmshaven'],
    'Großkrotzenburg 272': ['Staudinger 5'], # incomplete
    'Bexbach 225': ['BEXBACH_A_GESAMT'],
    'Lippborg 248': ['BERGKAMEN_A'],
    'Ensdorf 948': ['Ensdorf 1', 'Ensdorf 3'],
    'Gersteinwerk 240': ['Gersteinwerk K2'],
    'Altbach 307': ['HKW Altbach/Deizisau Block 1', 'HKW Altbach/Deizisau Block 2'],
    'Reuter West 216': ['HKW Reuter West Block D', 'HKW Reuter West Block E'],
    'Kummerfeld 290': ['HKW Wedel Block 1', 'HKW Wedel Block 2'],
    'Ibbenbüren 309': ['Ibbenbüren B'],
    'Voerde 203': ['Kraftwerk Voerde Block A', 'Kraftwerk Voerde Block B'],
    'Scholven 243': ['Scholven B', 'Scholven C'], # incomplete
    'Ingolstadt 263': ['Ingolstadt 3', 'Ingolstadt 4'],
    'Vierraden 302': ['IKS Schwedt SE1 Block 1', 'IKS Schwedt SE2 Block 2']
}

In [38]:
DE_name_values = {name for list_of_names in DE_name_map.values() for name in list_of_names}

Check that the keys are part of the model's names:

In [39]:
assert set(DE_name_map.keys()).issubset(all_gen_names)

Check that the names belong to the ENTSO-E names:

In [40]:
assert DE_name_values.issubset(entsoe_data['PowerSystemResourceName'])

Model's generators not in the list:

In [41]:
pd.DataFrame([[gen['name'], gen['type'], 100 * gen['pmax']] for gen in model['gen'].values()
             if gen['country'] == 'DE' and gen['name'] not in DE_name_map.keys()],
             columns=['Name', 'Type', 'Pmax']).sort_values('Name')

                     Name                  Type   Pmax
65     Altenkleusheim 245         hydro_pure_ps  140.0
27   Altentreptow/Süd 972                   Gas   75.0
25               BASF 270       fossil_coal_gas  460.0
106              BASF 271      fossil_coal_hard  870.0
103     Bergrheinfeld 281         hydro_pure_ps  160.0
..                    ...                   ...    ...
0           Wengerohr 228                 Hydro   16.4
78          Wengerohr 229                 Hydro   13.6
26      Windpark Iven 954                   Gas   15.1
85        Wolmirstedt 292                   Gas   52.0
15            Zolling 264  fossil_brown_lignite  449.0

[108 rows x 3 columns]

ENTSO-E generators not in the list:

In [42]:
entsoe_data[(entsoe_data['Country'] == 'DE') & (~entsoe_data['PowerSystemResourceName'].isin(DE_name_values))] \
    [['PowerSystemResourceName', 'ProductionType', 'InstalledGenCapacity']]

     PowerSystemResourceName        ProductionType  InstalledGenCapacity
169                  Block 1      Fossil Hard coal                 136.0
170                  Block 2      Fossil Hard coal                 136.0
171                  Block 3      Fossil Hard coal                 690.0
172               Block AGuD            Fossil Gas                 100.0
173                  Block B            Fossil Gas                 100.0
...                      ...                   ...                   ...
1659  Weisweiler VGT - BI. G            Fossil Gas                 200.0
1660  Weisweiler VGT - BI. H            Fossil Gas                 200.0
1662             Westfalen C      Fossil Hard coal                 250.0
1663             Westfalen E      Fossil Hard coal                 763.7
1666                 Witznau  Hydro Pumped Storage                 110.0

[133 rows x 3 columns]

### Nuclear plants in other countries

In [43]:
jaslovske = [name for name in all_gen_names if name[-3:] == '377'][0]
name_map = CH_name_map | FR_name_map | ES_name_map | DE_name_map | {
    jaslovske: ['Bohunice TG31', 'Bohunice TG32', 'Bohunice TG41', 'Bohunice TG42'],
    'Borssele 846': ['Borssele 30'],
    'Tihange 521': ['TIHANGE 1N', 'TIHANGE 1S', 'TIHANGE 2', 'TIHANGE 3'],
    'Mochovce 378': ['Mochovce TG11', 'Mochovce TG12', 'Mochovce TG21', 'Mochovce TG22'],
    'Cernavoda 404': ['CNE_U1_RET_CA', 'CNE_U2_RET_CA'],
    'Kallo 515': ['DOEL 1', 'DOEL 2', 'DOEL 3', 'DOEL 4'],
    'Dukovany 176': ['EDUK_B1____', 'EDUK_B2____', 'EDUK_B3____', 'EDUK_B4____'],
    'Temelín 179': ['ETEM_G1____', 'ETEM_G2____'],
    'Kozloduy 418': ['NPP KZL G9', 'NPP KZL G10'],
    'Paks 782': ['PA_gép1', 'PA_gép2', 'PA_gép3', 'PA_gép4', 'PA_gép5', 'PA_gép6', 'PA_gép7', 'PA_gép8'],
}

In [44]:
name_values = {name for list_of_names in name_map.values() for name in list_of_names}

Total number of model generators, total number of ENTSO-E generators:

In [45]:
len(name_map), len(name_values)

(123, 275)

Check that the keys are part of the model's names:

In [46]:
assert set(name_map.keys()).issubset(all_gen_names)

Check that the names belong to the ENTSO-E names:

In [47]:
assert name_values.issubset(entsoe_data['PowerSystemResourceName'])

Model's nuclear generators not in the list:

In [48]:
pd.DataFrame([[gen['name'], gen['type'], 100 * gen['pmax']] for gen in model['gen'].values()
             if 'nuclear' in gen['type'] and gen['name'] not in name_map.keys()],
             columns=['Name', 'Type', 'Pmax']).sort_values('Name')

                  Name          Type    Pmax
1  Grafenrheinfeld 282  nuclear_cons  1275.0
0            Krško 886       nuclear   696.0

ENTSO-E nuclear generators not in the list:

In [49]:
entsoe_data[(entsoe_data['ProductionType'] == 'Nuclear') & (~entsoe_data['PowerSystemResourceName'].isin(name_values))] \
    [['PowerSystemResourceName', 'ProductionType', 'InstalledGenCapacity']]

     PowerSystemResourceName ProductionType  InstalledGenCapacity
1186              S.M.GAROÑA        Nuclear                 455.2
1353                  TRILLO        Nuclear                1003.4
1588               VANDELLOS        Nuclear                1045.3

### Update the model

Add 'entsoe_names' field to the generators in the model and delete the temporary name:

In [50]:
for gen in model['gen'].values():
    gen['entsoe_names'] = name_map[gen['name']] if gen['name'] in name_map.keys() else []
    del gen['name']

# Add aggregated types

In [51]:
all_gen_types = {gen['type'] for gen in model['gen'].values()}

Manually define aggregated types:

In [52]:
types_aggregation_map = {
    "Hydro"                    : "hydro",
    "hydro_pure_storage"       : "hydro_storage",
    "hydro_pure_storage_cons"  : "hydro_storage",
    "hydro_pure_ps"            : "hydro_storage",
    "hydro_mixed"              : "hydro_storage",
    "hydro_mixed_cons"         : "hydro_storage",
    "hydro_ror"                : "hydro_ror",
    "fossil_brown_lignite"     : "coal",
    "fossil_brown_lignite_cons": "coal",
    "fossil_coal_hard"         : "coal",
    "fossil_coal_gas"          : "gas",
    "fossil_oil"               : "gas",
    "fossil_mixed"             : "gas",
    "fossil_coal_gas_cons"     : "gas",
    "Coal"                     : "coal",
    "Gas"                      : "gas",
    "Oil"                      : "gas",
    "nuclear"                  : "nuclear",
    "Nuclear"                  : "nuclear",
    "nuclear_cons"             : "nuclear",
    "other_nrenew"             : "other",
    "other_nrenew_cons"        : "other",
    "other_nl"                 : "other",
    "Geothermal"               : "other",
    "biomass"                  : "other",
    "Biomass"                  : "other",
    "Waste"                    : "gas",
    "waste_nr"                 : "gas"
}

In [53]:
aggregated_types = set(types_aggregation_map.values())
aggregated_types

{'coal', 'gas', 'hydro', 'hydro_ror', 'hydro_storage', 'nuclear', 'other'}

Check that all types are mapped:

In [54]:
assert all_gen_types == set(types_aggregation_map.keys())

In [55]:
for gen in model['gen'].values():
    gen['aggregated_type'] = types_aggregation_map[gen['type']]

# Define expected usage

Choose 2016 as the reference year, as it matches with the model:

In [56]:
year = 2016

### Capacity

In [57]:
capacity_df = pd.read_csv('%s/%d_01_InstalledGenerationCapacityAggregated_14.1.A.csv' % (entsoe_data_dir, year + 1),
                          sep='\t', usecols=['AreaTypeCode', 'MapCode', 'ProductionType', 'AggregatedInstalledCapacity'])
capacity_df = capacity_df[(capacity_df['AreaTypeCode'] == 'CTY') & (capacity_df['MapCode'].isin(model_countries))]

In [58]:
capacity_by_country = capacity_df.groupby('MapCode') \
    .apply(lambda group: group.set_index('ProductionType')['AggregatedInstalledCapacity'].to_dict()).to_dict()

/tmp/ipykernel_17694/1427180708.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda group: group.set_index('ProductionType')['AggregatedInstalledCapacity'].to_dict()).to_dict()

In [59]:
all_capacity_types = {type for capacity_by_type in capacity_by_country.values() for type in capacity_by_type.keys()}
all_capacity_types

{'Biomass',
 'Fossil Brown coal/Lignite',
 'Fossil Coal-derived gas',
 'Fossil Gas',
 'Fossil Hard coal',
 'Fossil Oil',
 'Fossil Oil shale',
 'Fossil Peat',
 'Geothermal',
 'Hydro Pumped Storage',
 'Hydro Run-of-river and poundage',
 'Hydro Water Reservoir',
 'Marine',
 'Nuclear',
 'Other',
 'Other renewable',
 'Solar',
 'Waste',
 'Wind Offshore',
 'Wind Onshore'}

In [60]:
capacity_by_country['CH']

{'Hydro Run-of-river and poundage': 190.0,
 'Nuclear': 3373.0,
 'Hydro Water Reservoir': 4897.8,
 'Hydro Pumped Storage': 6228.0}

In [61]:
capacity_by_country['DE']

{'Fossil Brown coal/Lignite': 21262.0,
 'Biomass': 7080.25,
 'Fossil Hard coal': 27437.0,
 'Waste': 1685.0,
 'Geothermal': 40.22,
 'Other': 1421.0,
 'Hydro Water Reservoir': 1439.0,
 'Fossil Oil': 4614.0,
 'Wind Offshore': 4131.3,
 'Fossil Coal-derived gas': 0.0,
 'Fossil Gas': 32627.0,
 'Hydro Run-of-river and poundage': 4007.13,
 'Other renewable': 509.61,
 'Hydro Pumped Storage': 8894.24,
 'Nuclear': 10793.0,
 'Wind Onshore': 47042.0,
 'Solar': 40834.46}

### Generation

In [62]:
gen_df = pd.concat([pd.read_csv('%s/%d_%02d_AggregatedGenerationPerType_16.1.B_C.csv' % (entsoe_data_dir, year, month + 1),
                                sep='\t', usecols=['AreaTypeCode', 'MapCode', 'ProductionType', 'ActualGenerationOutput'])
                    for month in range(12)], ignore_index=True)
gen_df = gen_df[(gen_df['AreaTypeCode'] == 'CTY') & (gen_df['MapCode'].isin(model_countries))]
gen_df = gen_df.groupby(['MapCode', 'ProductionType']).filter(lambda g: g['ActualGenerationOutput'].count() > 1000)

In [63]:
gen_by_country = gen_df.groupby('MapCode') \
    .apply(lambda group: group.groupby('ProductionType')['ActualGenerationOutput'].mean().to_dict()).to_dict()

/tmp/ipykernel_17694/3656648501.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda group: group.groupby('ProductionType')['ActualGenerationOutput'].mean().to_dict()).to_dict()

In [64]:
all_gen_types = {type for gen_by_type in gen_by_country.values() for type in gen_by_type.keys()}
all_gen_types

{'Biomass',
 'Fossil Brown coal/Lignite',
 'Fossil Coal-derived gas',
 'Fossil Gas',
 'Fossil Hard coal',
 'Fossil Oil',
 'Fossil Oil shale',
 'Fossil Peat',
 'Geothermal',
 'Hydro Pumped Storage',
 'Hydro Run-of-river and poundage',
 'Hydro Water Reservoir',
 'Marine',
 'Nuclear',
 'Other',
 'Other renewable',
 'Solar',
 'Waste',
 'Wind Offshore',
 'Wind Onshore'}

Check that this is the same types as for the capacity computation:

In [65]:
assert all_gen_types == all_capacity_types

In [66]:
gen_by_country['CH']

{'Hydro Pumped Storage': 584.12845856102,
 'Hydro Run-of-river and poundage': 68.68743913857678,
 'Hydro Water Reservoir': 904.7273576958106,
 'Nuclear': 2244.7649134790527,
 'Solar': 38.301363013698634,
 'Wind Onshore': 7.819798534798534}

In [67]:
gen_by_country['DE']

{'Biomass': 4524.766928790984,
 'Fossil Brown coal/Lignite': 14842.226127903006,
 'Fossil Coal-derived gas': 431.8244763205829,
 'Fossil Gas': 2605.7666140141164,
 'Fossil Hard coal': 9208.768320241348,
 'Fossil Oil': 198.01513974271404,
 'Geothermal': 19.224431067850638,
 'Hydro Pumped Storage': 977.6436233492715,
 'Hydro Run-of-river and poundage': 1964.5508122723134,
 'Hydro Water Reservoir': 93.27279684653917,
 'Nuclear': 9134.58341302368,
 'Other': 309.27984090391624,
 'Other renewable': 140.52764571948998,
 'Solar': 3932.0249339708566,
 'Waste': 625.344625170765,
 'Wind Offshore': 1376.8343317395263,
 'Wind Onshore': 7431.724159836066}

**Remark**

A few computed productions are above capacity for a given type. The problem will be solved by using aggregated types.

In [68]:
for country, gen_by_type in gen_by_country.items():
    if country in capacity_by_country:
        for type, value in gen_by_type.items():
            if type in capacity_by_country[country]:
                if value > capacity_by_country[country][type]:
                    print('Production (%.2f) above capacity (%.2f) for type "%s" in country %s'
                          % (value, capacity_by_country[country][type], type, country))

Production (6.93) above capacity (0.00) for type "Fossil Oil" in country CZ
Production (109.33) above capacity (0.00) for type "Other" in country CZ
Production (431.82) above capacity (0.00) for type "Fossil Coal-derived gas" in country DE
Production (380.71) above capacity (0.00) for type "Fossil Brown coal/Lignite" in country ES
Production (284.76) above capacity (170.00) for type "Biomass" in country FR
Production (0.27) above capacity (0.00) for type "Fossil Oil" in country GR
Production (10472.35) above capacity (1708.00) for type "Other" in country IT
Production (7.21) above capacity (2.00) for type "Biomass" in country LU
Production (11.55) above capacity (1.00) for type "Solar" in country LU
Production (3912.27) above capacity (1.00) for type "Other" in country NL

### Aggregation

Aggregate production types:

In [69]:
entsoe_types_aggregation_map = {
    'Fossil Brown coal/Lignite'       : 'coal',
    'Fossil Hard coal'                : 'coal',
    'Fossil Coal-derived gas'         : 'gas',
    'Fossil Gas'                      : 'gas',
    'Fossil Oil'                      : 'gas',
    'Fossil Oil shale'                : 'gas',
    'Waste'                           : 'gas',
    'Fossil Peat'                     : 'coal',
    'Hydro Pumped Storage'            : 'hydro_storage',
    'Hydro Water Reservoir'           : 'hydro_storage',
    'Hydro Run-of-river and poundage' : 'hydro_ror',
    'Nuclear'                         : 'nuclear',
    'Biomass'                         : 'other',
    'Geothermal'                      : 'other',
    'Marine'                          : 'other',
    'Other'                           : 'other',
    'Other renewable'                 : 'other',
    'Solar'                           : 'other',
    'Wind Offshore'                   : 'other',
    'Wind Onshore'                    : 'other'
}

Check that all production types are mapped:

In [70]:
assert set(entsoe_types_aggregation_map.keys()) == all_gen_types

Check that the mapped types are the same as the aggregated types defined above, with the exception of "hydro":

In [71]:
assert set(entsoe_types_aggregation_map.values()) == aggregated_types - {'hydro'}

Compute aggregated capacity by country:

In [72]:
aggregated_capacity_by_country = {}

for country, capacity_by_type in capacity_by_country.items():
    types = {entsoe_types_aggregation_map[t] for t in capacity_by_type.keys()}
    
    aggregated_capacity_by_type = {t: 0.0 for t in types}
    for type, value in capacity_by_type.items():
        aggregated_capacity_by_type[entsoe_types_aggregation_map[type]] += value

    hydro = 0.0
    if 'hydro_storage' in types:
        hydro += aggregated_capacity_by_type['hydro_storage']
    if 'hydro_ror' in types:
        hydro += aggregated_capacity_by_type['hydro_ror']
    if hydro > 0.0:
        aggregated_capacity_by_type['hydro'] = hydro

    aggregated_capacity_by_country[country] = aggregated_capacity_by_type

In [73]:
aggregated_gen_by_country = {}

for country, gen_by_type in gen_by_country.items():
    types = {entsoe_types_aggregation_map[t] for t in gen_by_type.keys()}
    
    aggregated_gen_by_type = {t: 0.0 for t in types}
    for type, value in gen_by_type.items():
        aggregated_gen_by_type[entsoe_types_aggregation_map[type]] += value

    hydro = 0.0
    if 'hydro_storage' in types:
        hydro += aggregated_gen_by_type['hydro_storage']
    if 'hydro_ror' in types:
        hydro += aggregated_gen_by_type['hydro_ror']
    if hydro > 0.0:
        aggregated_gen_by_type['hydro'] = hydro

    aggregated_gen_by_country[country] = aggregated_gen_by_type

### Capacity usage

Compute usage:

In [74]:
usage_by_country = {country: {type: aggregated_gen_by_country[country][type] / value
                              for type, value in capacity_by_type.items() if type in aggregated_gen_by_country[country]}
                    for country, capacity_by_type in aggregated_capacity_by_country.items() if country in aggregated_gen_by_country}

In [75]:
for country, usage_by_type in usage_by_country.items():
    for value in usage_by_type.values():
        assert value <= 1.0

In [76]:
usage_by_country['CH']

{'hydro_storage': 0.13382011327336737,
 'hydro_ror': 0.36151283757145675,
 'nuclear': 0.665509906160407,
 'hydro': 0.13764322941333423}

In [77]:
usage_by_country['DE']

{'other': 0.17548570983031953,
 'hydro_storage': 0.10363800900741786,
 'hydro_ror': 0.49026380783062024,
 'coal': 0.4938703966846209,
 'gas': 0.09918694074007549,
 'nuclear': 0.8463433163183248,
 'hydro': 0.21167286705071936}

### Sum across countries

In [78]:
total_aggregated_capacity = {type: 0.0 for type in aggregated_types}

for country, capacity_by_type in aggregated_capacity_by_country.items():
    for type, value in capacity_by_type.items():
        total_aggregated_capacity[type] += value

total_aggregated_capacity

{'other': 224067.88,
 'hydro_storage': 103691.79,
 'hydro_ror': 43677.45,
 'coal': 141963.96,
 'hydro': 147369.24,
 'gas': 192906.67,
 'nuclear': 103160.18999999999}

In [79]:
total_aggregated_gen = {type: 0.0 for type in aggregated_types}

for country, gen_by_type in aggregated_gen_by_country.items():
    for type, value in gen_by_type.items():
        total_aggregated_gen[type] += value

total_aggregated_gen

{'other': 59508.86335331817,
 'hydro_storage': 13963.413655659808,
 'hydro_ror': 18266.386970728978,
 'coal': 62853.32941117908,
 'hydro': 32229.800626388787,
 'gas': 36266.15376996444,
 'nuclear': 76172.51808017504}

In [80]:
total_aggregated_usage = {type: total_aggregated_gen[type] / value for type, value in total_aggregated_capacity.items()}
total_aggregated_usage

{'other': 0.26558408707806835,
 'hydro_storage': 0.13466267344463634,
 'hydro_ror': 0.41821092968405843,
 'coal': 0.44274144938742965,
 'hydro': 0.21870100318349195,
 'gas': 0.18799844385870348,
 'nuclear': 0.7383906338305023}

In [81]:
total_aggregated_usage = {type: total_aggregated_gen[type] / value for type, value in total_aggregated_capacity.items()}
total_aggregated_usage

{'other': 0.26558408707806835,
 'hydro_storage': 0.13466267344463634,
 'hydro_ror': 0.41821092968405843,
 'coal': 0.44274144938742965,
 'hydro': 0.21870100318349195,
 'gas': 0.18799844385870348,
 'nuclear': 0.7383906338305023}

### Update the model

In [82]:
for gen in model['gen'].values():
    usage = usage_by_country[gen['country']][gen['aggregated_type']] \
        if gen['country'] in usage_by_country and gen['aggregated_type'] in usage_by_country[gen['country']] \
        else total_aggregated_usage[gen['aggregated_type']]
    gen['pexp'] = gen['pmax'] * usage

# Export improved model

Export:

In [83]:
model_json = json.dumps(model)
with open('../europe.json', 'w') as f:
    f.write(model_json)